body {
    /*background-color: #333333;*/
    background-color: #5a519991;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
   min-height: 100vh;
    height: 100%;
}


h3 {
    color: white;
    text-align: center;
}
.presentation{
    margin-top: 15%;

}
.texte-presentation{
    color: white;

}
.btn:hover {
    background-color: #333333;
    color: white;
}
.btn{
    background-color: white;
    color: #333333;
    font-weight: bold;
    margin-top: 10%;
}
fieldset{
    margin-top: 10%;
    color: white;


}
.jumbotron{
    background-color: #a19cc5;
    /*box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 1);*/

}
.titretuto{
    color: white;
    margin-top: 5%;
}
.condition{
    color: black;
}
.mentiontitre{
    color: black;
}
textarea{
    height: 200px;
}
.btn-ticket{



}